body {
  color: white;
}

.card {
  background: linear-gradient(to bottom, #01071b, #122968, rgb(223, 39, 161));
  border-radius: 0;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  margin-left: 10px;
  width: 400px;
  height: 400px;
}
